{% load mezzanine_tags i18n future %}
<form action="{% url "search" %}" class="navbar-search pull-right input-append">

<div class="input-group ">

    <input type="text" placeholder="{% trans "Search" %}" name="q" value="{{ request.REQUEST.q }}" class="form-control">

    <span class="input-group-btn">
        {% if search_model_choices %}
            {% if search_model_choices|length == 1 %}
            <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
            {% else %}
            <input type="hidden" id="type" name="type" value="{{ search_model_choices.0.1 }}">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="btn-select">
                    {% if request.REQUEST.type %}
                        {% for verbose_name, model in search_model_choices %}
                            {% if model == request.REQUEST.type %}
                                {{ verbose_name }}
                            {% endif %}
                        {% endfor %}

                    {% else %}
                        {% trans "Everything" %}
                    {% endif %}
                </span>
                <span class="caret"></span>
            </button>
                <ul class="dropdown-menu pull-right">
                    {% for verbose_name, model in search_model_choices %}
                        <li><a href="#" onclick="$('#type').val('{{ model }}'); $('#btn-select').html('{{ verbose_name }}'); return false;">{{ verbose_name }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="#" onclick="$('#type').val(''); $('#btn-select').html('{% trans "Everything" %}'); return false;">{% trans "Everything" %}</a></li>
                </ul>
            {% endif %}
        {% endif %}






        <button class="btn btn-default btn-go" type="submit">{% trans "Go" %}</button>
    </span>
</div>

</form>
