<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/python.ico">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}


<link href='{{ STATIC_URL }}css/565e1e1a274c853f547b80c75d1c310b.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/boilerplate.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/follow.css' rel='stylesheet' type='text/css'>

<link href='{{ STATIC_URL }}css/style.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/superfish-navbar.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/superfish-vertical.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/superfish.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/system.base.css' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/system.menus.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}css/photo.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jp/miplayer.css">


{% compress css %}



{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}


<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/sftouchscreen.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/styleswitch.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/superfish.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/supersubs.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/supposition.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jp/jquery.jplayer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jp/miplayer.js"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

{#<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">#}
{#            <div class="container">#}
{#                 <div class="navbar-header">#}
{#                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">#}
{#                      <span class="sr-only">Toggle navigation</span>#}
{#                      <span class="icon-bar"></span>#}
{#                      <span class="icon-bar"></span>#}
{#                      <span class="icon-bar"></span>#}
{#                    </button>#}
{#                        <a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>#}
{#                  </div>#}
{##}
{#                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-ex1-collapse" role="navigation">#}
{#                    {% search_form "all" %}#}
{#                    {% page_menu "pages/menus/dropdown.html" %}#}
{#                </nav>#}
{##}
{#            </div>#}
{#        </header>#}
{##}
{#<div class="container">#}
{#<div class="protector"></div>#}
{#{% nevercache %}#}
{#{% for message in messages %}#}
{#<div class="alert alert-{{ message.tags }}" data-alert="alert">#}
{#    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}#}
{#</div>#}
{#{% endfor %}#}
{#{% endnevercache %}#}
{##}
{##}
{#<h1>{% block title %}{% endblock %}</h1>#}
{##}
{##}
{##}
{#</div>#}
{##}
{#<div class="container">#}
{#<div class="row">#}
{##}
{##}
{#<div class="col-md-9 middle">#}
{#    {% block main %}{% endblock %}#}
{#</div>#}
{##}
{#<div class="col-md-3 right">#}
{#    {% nevercache %}#}
{#    {% include "includes/user_panel.html" %}#}
{#    {% endnevercache %}#}
{#    <div class="panel">#}
{#    {% block right_panel %}#}
{#    {% ifinstalled mezzanine.twitter %}#}
{#    {% include "twitter/tweets.html" %}#}
{#    {% endifinstalled %}#}
{#    {% endblock %}#}
{#    </div>#}
{#</div>#}
{##}
{#</div>#}
{#</div>#}
{##}
{##}
{#{% include "includes/footer_scripts.html" %}#}


<div id="page-wrapper">

  <div id="page">

    <header id="header" role="banner" class="clearfix">
        <div class="section-1 clearfix">
			                                    <a href="/" title="Home" rel="home" id="logo">
                        <img src="{{ STATIC_URL }}images/logo.png" alt="Home" />
                    </a>

                                    </div>

                    <div class="section-2 clearfix" style="height:210px">
                  <div class="region region-menu">
    <div id="block-views-music-player-block" class="block block-views block-odd">


  <div class="content">
    <div class="view view-music-player view-id-music_player view-display-id-block view-dom-id-9f20d909ae9d617e5d739d1d015116ba">



      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

  <div class="views-field views-field-field-music-file">        <div class="field-content">


</div>  </div>




</div>


    </div>




      <div class="view-footer">
      <p><a href="/музыка"></a></p>
    </div>


</div>  </div><!-- /.content -->

</div><!-- /.block --><div id="block-superfish-1" class="block block-superfish block-even">


  <div class="content">
    <ul id="superfish-1" class="sf-menu main-menu sf-horizontal sf-style-default sf-total-items-5 sf-parent-items-1 sf-single-items-4">
    	<li id="menu-1333-1" class="active-trail first odd sf-item-1 sf-depth-1 sf-no-children"><a href="/о-нас" class="sf-depth-1  ">о нас</a></li>
<li id="menu-1437-1" class="middle even sf-item-2 sf-depth-1 sf-no-children"><a href="/blog" class="sf-depth-1 ">Новости</a></li>
<li id="menu-668-1" class="middle odd sf-item-3 sf-depth-1 sf-no-children"><a href="/видео" title="" class="sf-depth-1">Видео</a></li>
<li id="menu-739-1" class="middle even sf-item-4 sf-depth-1 sf-total-children-3 sf-parent-children-0 sf-single-children-3 menuparent"><a href="/музыка" title="" class="sf-depth-1  menuparent">Музыка</a>
    </li>
<li id="menu-442-1" class="last odd sf-item-5 sf-depth-1 sf-no-children">
<a href="contact.html" title="" class="sf-depth-1 ">Контакты</a></li></ul>  </div>

</div><!-- /.block -->  </div>
            </div>

		            <div class="section-3 clearfix">
                  <div class="region region-header">
    <div id="block-views-carousel-block" class="block block-views block-odd">




</div><!-- /.block -->  </div>
            </div><!-- /.section -->

    </header><!-- /#header -->


  <div id="main-wrapper">
    <div id="main" style="padding-top:30px" class="clearfix">

    	<div >
            <div>



                  <div id="content" class="column" role="main">
                    <div class="section">






                                          <div class="tabs"></div>



                                          <div class="region region-content">
    <div id="block-system-main" class="block block-system block-odd">


  <div id="content" class="column" role="main">
                    <div class="section">




  <h1 class="title" id="page-title">{% block title %}{% endblock %}</h1>

                    {% block main %}{% endblock %}

  <div class="tabs"></div>



  <div class="region region-content">
    <div id="block-system-main" class="block block-system block-even">


{#      <script type="text/javascript">#}
{#      jQuery(function(){#}
{#      	jQuery(".fb").fancybox({#}
{#      		'transitionIn'	: 'none',#}
{#			'transitionOut'	: 'none',#}
{#			'type': 'iframe'#}
{#      	});#}
{#      });#}
{##}
{#      </script>#}

  <div class="content">










<!-- /.node -->
  </div><!-- /.content -->

</div><!-- /.block -->  </div>

                    </div><!-- /.section -->
                  </div><!-- /.content -->

</div><!-- /.block -->  </div>

                    </div><!-- /.section -->
                  </div><!-- /#content -->

        	</div>
        </div>

    </div><!-- /#main -->
  </div><!-- /#main-wrapper -->

  </div><!-- /#page -->

  <footer id="footer" role="contentinfo">
        <div class="footer-wrapper clearfix">
			  <div class="region region-footer">
    <div id="block-block-5" class="block block-block block-even">


  <div class="content">
      2Q [Took You] &copy; 2013-2014  <!--<a href="http://mihaelgroup.com">MG</a>-->  </div><!-- /.content -->

</div><!-- /.block --><div id="block-system-user-menu" class="block block-system block-menu block-odd">


 <div class="content" style="margin-top:4px;">
<ul class="menu clearfix"><li class="first leaf contacts mid-1290"><a href="contact.html" title="">Contacts</a></li>
    <li class="last leaf search mid-1057"><span style="color: #fff;">Designed by</span> <a target="_blank" href="http://mihael.me" title="">mihael</a></li>
</ul>  </div><!-- /.content -->

</div><!-- /.block --><div id="block-follow-site" class="block block-follow block-even">


  <div class="content">
     <div class="follow-links clearfix"><a target="_blank" href="http://www.youtube.com/user/2Qmusic" class="follow-link follow-link-youtube follow-link-site" title="Follow 2Q on YouTube">YouTube</a>
<a target="_blank" href="http://vk.com/2q_group" class="follow-link follow-link-this-site follow-link-site" title="Follow 2Q on VK"></a>
<!--<a target="_blank" href="http://facebook.com/" class="follow-link follow-link-facebook follow-link-site" title="Follow 2Q on Facebook">Facebook</a>
<a target="_blank" href="http://twitter.com/" class="follow-link follow-link-flickr follow-link-site" title="Follow 2Q on Twitter">Twitter</a>-->
</div>  </div><!-- /.content -->

</div><!-- /.block -->  </div>
                    </div><!-- /#footer-wrapper -->
    </footer><!-- /#footer -->
</div><!-- /#page-wrapper -->


<script type="text/javascript">
      jQuery(function(){
      	jQuery(".fb").fancybox({
      		'transitionIn'	: 'none',
			'transitionOut'	: 'none',
			'type': 'iframe'
      	});
      });

      </script>

</body>
</html>
